<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.netiapps.planetwork">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_planetwork"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_planetwork"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanetWork"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GoogleMapActivity"
            android:exported="true" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".AttendenceActivity"
            android:exported="false" />

        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".geofencing.GeofencingService" />

        <activity
            android:name=".OfflineLocationCaptureActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlanetWork.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publis
        android:supportsRtl="true"hing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="@string/google_maps_key" /> -->
        <activity
            android:name=".DashBoardActivity"
            android:exported="true"
            android:theme="@style/Theme.PlanetWork.NoActionBar" />
        <activity
            android:name=".DemoMapActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlanetWork.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlanetWork.NoActionBar" />
        <activity
            android:name=".LeaveActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlanetWork.NoActionBar" />
        <activity
            android:name=".TaskDetails"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlanetWork.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlanetWork.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateTaskDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".rough.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".locationbackground.OtherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".locationbackground.Enablelocation_A"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".services.SendingDataToServerFromDb" />
        <service
            android:name=".locationbackground.GetLocation_Service"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <activity
            android:name=".ReportActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlanetWork.NoActionBar" />
        <activity
            android:name=".ReportListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlanetWork.NoActionBar" />

        <service android:name=".services.ConnectivityService" />
        <service android:name=".services.GPSstatusService" />
        <service
            android:name=".services.OfflineLocationService"
            android:enabled="true"
            android:exported="false" /> <!-- <service android:name=".services.LiveLocation" /> -->
        <!-- <service android:name=".services.RunApplicationInBackground"/> -->
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.LoginTimeCounterService" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/appicon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for morNotificationServicee.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <receiver android:name=".broadcast.SendLocationToServerBroadcastReceiver" />
        <receiver android:name=".geofencing.GeofenceBroadcastReceiver" />
    </application>

</manifest>